.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.Register .form-container {
  width: 360px;
  padding: 4rem 2rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.Register .form-container > div {
  margin-bottom: 12px;
}

.Register .form-group {
  display: flex;
}

.Register .form-group label {
  flex-grow: 1;
  margin-right: 8px;
  text-align: left;
}
.Register .form-group input {
  flex-grow: 2;
}

.errors {
  color: red;
  font-size: 12px;
}
.submit-container {
  margin-top: 12px;
  text-align: center;
}
.login-container {
  text-align: center;
}
